#taskbar {
	position: fixed;
	left: 0;
	top: 0;
	display: grid;
	grid-template-columns: 25px 6fr 3fr;
	height: 30px;
	width: 100%;
}

#taskbar * {
	flex: 0;
	margin: auto;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

#taskbar .button {
	width: 25px;
	border-radius: 50%;
}

#taskbar .button:active {
	background-color: rgb(80, 80, 150);
}

#windows {
	width: 100%;
	height: 100%;
}