.button {
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--border-radius);
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.button:hover{
	background-color: hsl(225, 21%, 33%);
}

.button:active{
	color: gray;
	background-color: hsl(225, 26%, 15%);
}